*.png
*.mcm
*.bmp
key.txt
*.csv
*__pycache__*
*.jpg
users.txt
params.txt
!font.bmp
token.txt
countries_shapes/ne_110m_admin_0_countries
countries_shapes/ne_50m_admin_0_countries
*.gpx
forum_parser/*/*.html
students_list/*.xlsx
students_list/*.docx
students.txt
velocidrone_parser/html
dump.json
velocidrone_parser/.idea
