body {
	color: black;
	font-family: "Arial", sans-serif;
	background-color: white; 
}

table {
	border-collapse: collapse;
	margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}

tr:nth-child(even) {background-color: #ffffff;}

th, td {
	border-bottom: 1px solid #888;
	text-align: left;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

input {
    border:1px solid #AAA;
    font-size: 16px;
}

.nomargin {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}